# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Entornos virtuales
venv/
env/
env_manga/
.env

# Datos e imágenes de manga
data/
*.pdf

# Archivos pesados o descargados
miniconda.sh
Miniconda3-latest-Linux-x86_64.sh
get-pip.py
manga-image-translator-src/
manga-image-translator/

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Ignorar configuraciones pesadas del usuario
config/ 
venv*/